<% title @artist.name %>

<%= image_tag(@artist.thumbnail) unless @artist.thumbnail.blank? %>

<p>
	<%= @artist.description %>
</p>

<p>
   <%= link_to "Back", :back %> | <%= link_to "Edit", edit_artist_path(@artist) %>
</p>
