<h1>Share this record with a friend</h1>
<p>This will share one particular record with anyone of your choosing (no more, no less), the link expires after 30 days.</p>

<%= render :partial => 'form' %>

<p><%= link_to "Back to List", recommendations_path %></p>
