<% title "Record Format" %>

<p>
  <strong>Name:</strong>
  <%= @record_format.name %>
</p>

<p>
  <%= link_to "Edit", edit_record_format_path(@record_format) %> |
  <%= link_to "Destroy", @record_format, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", record_formats_path %>
</p>
