<h2 class="page-title">Labels</h2>

<div class="cards">
  <% @labels.each do |label| %>
    <div class="card">
      <div class="card-image">
        <%# link_to(image_tag(attachment_url(artist.photos.first, :image, :fill, 200, 200)), artist) unless artist.photos.blank? %><br/>
      </div>
      <div class="card-header">
        <%= link_to label.name, label %>
      </div>
      <div class="card-copy">
        <p>
          <%= label.records.count %> records <br/>
        </p>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @labels %>
