<% title "Labels", false %>

<h1><%= page_entries_info @labels %></h1>

<%= will_paginate @records, :container => false %>

<ul class="thumb">
	<% @labels.each do |label| %>
	  <li><%= image_tag(label.photos.first.data.url(:medium)) %></li>
	<% end %>
</ul>

<%= will_paginate @records, :container => false %>
