<% title @label.name %>

<%= image_tag(@label.thumbnail) unless @label.thumbnail.blank? %>

<p>
	<%= @label.description %>
</p>

<p>
   <%= link_to "Back", :back %> | <%= link_to "Edit", edit_label_path(@label) %>
</p>
