<% title "Statistics" %>

<%= content_for :head do %>

<script type="text/javascript" charset="utf-8">
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'genre'
      },
      title: {
         text: 'Collection by Genre'
      },
      plotArea: {
         shadow: null,
         borderWidth: null,
         backgroundColor: null
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y;
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
				enabled: true,
				color: '#000000',
				connectorColor: '#000000',
				formatter: function() {
					return '<b>'+ this.point.name +'</b>: '+ this.y;
				}
            },
            showInLegend: true
         }
      },
       series: [{
         type: 'pie',
         name: 'Genre share',
         data: [
		 <% for item in @genres %>
			['<%= escape_javascript(item.genre.name.html_safe) %>', <%= item.count.to_f %>]<% unless item.genre_id == @genres.last.genre_id %>,<% end %>
		 <% end %>
         ]
      }]
   });
});
</script>

<% end %>

<div id="genre" style="width: 800px; height: 400px; margin: 0 auto"></div>