.sidebar-menu
  ul.menu-items
    li.m-t-30
      = link_to admin_root_path
        span.title Dashboard
      span.icon-thumbnail= icon('home')
    li
      = link_to admin_user_pages_path(current_user)
        span.title Pages
      span.icon-thumbnail= icon('file-o')
    li
      = link_to admin_prices_path
        span.title Prices
      span.icon-thumbnail= icon('dollar')
    li
      = link_to admin_records_path
        span.title Records
      span.icon-thumbnail= icon('circle')
    li
      = link_to admin_artists_path
        span.title Artists
      span.icon-thumbnail= icon('star')
    li
      = link_to admin_labels_path
        span.title Labels
      span.icon-thumbnail= icon('play-circle')
    li
      = link_to admin_genres_path
        span.title Genres
      span.icon-thumbnail= icon('inbox')
    li
      = link_to admin_record_formats_path
        span.title Record Formats
      span.icon-thumbnail= icon('music')
    li
      = link_to admin_record_types_path
        span.title Record Types
      span.icon-thumbnail= icon('cogs')
    li
      = link_to admin_users_path
        span.title Users
      span.icon-thumbnail= icon('users')
  .clearfix