doctype html
html
  head
    meta http-equiv="content-type" content="text/html;charset=UTF-8" /
    meta charset="utf-8" /
    title RecordTemple | Admin Dashboard
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /
    link rel="apple-touch-icon" href="pages/ico/60.png"
    link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png"
    link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png"
    link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png"
    meta name="apple-mobile-web-app-capable" content="yes"
    meta name="apple-touch-fullscreen" content="yes"
    meta name="apple-mobile-web-app-status-bar-style" content="default"
    meta content="" name="description" /
    meta content="" name="author" /
    = stylesheet_link_tag 'admin/application', media: 'all'
    = csrf_meta_tags

  body.fixed-header
    /! BEGIN SIDEBAR
    .page-sidebar data-pages="sidebar"
      #appMenu.sidebar-overlay-slide.from-top
      /! BEGIN SIDEBAR HEADER
      .sidebar-header
        img src="/assets/pages/logo_white.png" alt="logo" class="brand" data-src="/assets/pages/logo_white.png" data-src-retina="/assets/pages/logo_white_2x.png" width="93" height="25"
        .sidebar-header-controls
          button.btn.btn-xs.sidebar-slide-toggle.btn-link.m-l-20 data-pages-toggle="#appMenu" type="button"
            i.fa.fa-angle-down.fs-16
          button.btn.btn-link.visible-lg-inline data-toggle-pin="sidebar" type="button"
            i.fa.fs-12
      /! END SIDEBAR HEADER
      = render 'layouts/admin/navigation'
    /! END SIDEBAR
    /! START PAGE-CONTAINER
    .page-container
      /! START PAGE HEADER WRAPPER
      /! START HEADER
      .header
        /! START MOBILE CONTROLS
        /! LEFT SIDE
        .pull-left.full-height.visible-sm.visible-xs
          /! START ACTION BAR
          .sm-action-bar
            a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar"
              span.icon-set.menu-hambuger
          /! END ACTION BAR
        /! RIGHT SIDE
        .pull-right.full-height.visible-sm.visible-xs
          /! START ACTION BAR
          .sm-action-bar"
            a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview"
              span.icon-set.menu-hambuger-plus
          /! END ACTION BAR
        /! END MOBILE CONTROLS
        .pull-left.sm-table
          .header-inner
            .brand.inline
              img src="/assets/pages/logo.png" alt="logo" data-src="/assets/pages/logo.png" data-src-retina="/assets/pages/logo_2x.png" width="93" height="25"
            /! BEGIN NOTIFICATION DROPDOWN
            = render 'layouts/admin/notifications'
            /! END NOTIFICATION DROPDOWN
        .pull-right
          .header-inner
            a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"
        .pull-right
          /! START User Info--
          .visible-lg.visible-md.m-t-10
            .pull-left.p-r-10.p-t-10.fs-16.font-heading
              span.semi-bold David
              span.text-master Nest
            .dropdown.pull-right
              button.profile-dropdown-toggle type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                span.thumbnail-wrapper.d32.circular.inline.m-t-5
                  img src="/assets/pages/profiles/avatar.jpg" alt="" data-src="/assets/pages/profiles/avatar.jpg" data-src-retina="/assets/pages/profiles/avatar_small2x.jpg" width="32" height="32"
              ul.dropdown-menu.profile-dropdown role="menu"
                li
                  = link_to edit_user_registration_path
                    i.pg-settings_small
                    | Settings
                li
                  a href="#"
                    i class="pg-outdent"
                    | Feedback
                li
                  a href="#"
                    i.pg-signals
                    | Help
                li.bg-master-lighter
                  = link_to destroy_user_session_path, method: :delete, class: "clearfix"
                    span.pull-left Logout
                    span.pull-right
                      i.pg-power
          /! END User Info--
      /! END HEADER
      /! END PAGE HEADER WRAPPER
      /! START PAGE CONTENT WRAPPER
      .page-content-wrapper
        /! START PAGE CONTENT
        .content
          /! START JUMBOTRON
          .jumbotron data-pages="parallax"
            .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
              .inner
                /! START BREADCRUMB
                = breadcrumbs separator: "", style: :ul, class: 'breadcrumb', current_class: 'active'
                /! END BREADCRUMB
          /! END JUMBOTRON
          /! START CONTAINER FLUID
          .container-fluid.container-fixed-lg
            /! BEGIN PlACE PAGE CONTENT HERE
            = render 'layouts/admin/messages'
            = yield
            /! END PLACE PAGE CONTENT HERE
          /! END CONTAINER FLUID
        /! END PAGE CONTENT
        /! START FOOTER
        = render '/layouts/admin/footer'
        /! END FOOTER
      /! END PAGE CONTENT WRAPPER
    /! END PAGE CONTAINER
    /! START QUICKVIEW--
    = render 'layouts/admin/quickview'
    /! END QUICKVIEW--
    = javascript_include_tag 'admin/application'
