<div class="panel panel-default">
  <div class="panel-body">
    <h5 class="m-t-0">Price Guide</h5>

    <div class="row">
      <div class="col-xs-6">
        <dl>
          <dt>Price</dt>
          <dd><%= price_price_range record.price %></dd>
        </dl>
      </div>

      <div class="col-xs-6">
        <dl>
          <dt>Year</dt>
          <dd><%= price_year_range record.price %></dd>
        </dl>
      </div>

      <div class="col-xs-6">
        <dl>
          <dt>Detail</dt>
          <dd>
            <% if record.price_detail.present? %>
              <%= record.price_detail %>
            <% else %>
              <em>No details.</em>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
