.buttons
  width: 1%
  white-space: nowrap

  a
    color: #626262

    &:not(:first-child)
      margin-left: 1em

#filters #photo, #filters #audio
  margin: 15px

.breadcrumb
  margin-left: 10px
  > li + li:before
    margin: 10px
  a
    margin: 0px