@import "normalize-rails";
@import "bourbon";
@import "base/base";
@import "neat";
@import "selectize";
@import "selectize.default";
@import "soundmanager2/bar-ui";
@import "owl.carousel";
@import "owl.theme";
@import "typeahead_fix";
@import "refills/*";

#main{
  @include outer-container;
  margin: 25px auto;
}

// carousels
#owl-carousel .item{
  margin: 3px;
}
#owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}
.search-title{
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}
.show-more{
  text-align: center;
}
.expression{
  font-weight: bold;
}