@import "normalize-rails";
@import "bourbon";
@import "base/base";
@import "neat";
@import "selectize";
@import "selectize.default";
@import "soundmanager2/bar-ui";

.records{
  overflow: auto;
  li.record{
    @include span-columns(3);
    max-width: 250px;
    min-height: 500px;
    list-style-type: none;
    margin: 20px;
  }
}