#carousel-gallery {
	width: 100%;
	margin: 0;
	padding: 15px 0;
	background: #EFEFEF;
	overflow: hidden !important;
}		
#carousel-gallery .touchcarousel-wrapper {
	overflow: visible;
	margin-left: 80px;
}
#carousel-gallery .touchcarousel-item {
	margin-right: 15px;		
	background: #CCC;	
	height: 400px;
}
#carousel-gallery .arrow-icon.left {
	left: 25px;				
}
#carousel-gallery .arrow-icon.right {
	right: 25px;			
}
#carousel-gallery .arrow-holder {
	width: 60px;	
}
#carousel-gallery  .scrollbar-holder {
	bottom: 6px;
}