<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == "notice" ? "success" : "danger" %>">
     <button type="button" class="close" data-dismiss="alert"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <%= msg if msg.is_a?(String) %>
  </div>
<% end %>
