<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="flash-<%= name == 'notice' ? 'success' : 'error' %>">
      <%= content_tag :span, id: "flash_#{name}" do %>
        <%= msg %>
        <a href="#" onclick="$(this).parent().parent().remove()" class="close" data-dismiss="alert">&#215;</a>
      <% end %>
    </div>
  <% end %>
<% end %>
