<div id="js_search_box" class="search-bar">
  <form action="#">
    <input name="" type="search" class="search typeahead" placeholder='Enter Search' />
    <button type="submit">
      <%= image_tag('search-icon.png', alt: 'Search Icon') %>
    </button>
  </form>
</div>



<!-- <div id="js_search_box" class="search-bar">
  <input name="" type="text" class='search', placeholder: 'Enter Search' />
  <button type="submit">
    <= image_tag('search-icon.png', alt: 'Search Icon') %>
  </button>
</div>
 -->