<div class="panel panel-default panel-profile">
  <div class="panel-body">
    <h5 class="m-t-0" style="display: inline-block;">
      Assets
    </h5>

    <button class="btn btn-primary-outline btn-sm pull-right"
      style="margin-right:5px;" type="button" data-toggle="collapse"
        data-target="#songs" aria-expanded="false" aria-controls="songs">

      Add songs
    </button>

    <button class="btn btn-primary-outline btn-sm pull-right"
      style="margin-right:5px;" type="button" data-toggle="collapse"
        data-target="#photos" aria-expanded="false" aria-controls="photos">

      Add photos
    </button>

    <%= render 'records/assets/songs_dropzone', record: f.object %>
    <%= render 'records/assets/photos_dropzone', record: f.object %>
  </div>
</div>
