<div class="panel panel-default panel-profile">
  <div class="panel-body">
    <h5 class="m-t-0">Songs</h5>

    <% if f.object.songs.present? %>
      <% f.object.songs.each do |song| %>
        <div class="row m-b">
          <div class="col-md-12">
            <%= render 'player', song: song %>

            <div class="pull-left">
              <small class="text-muted">
                <%= distance_of_time_in_words_to_now(
                  song.created_at,
                  include_seconds: true
                  ) %> ago
              </small>
            </div>

            <%= link_to icon("times"), record_song_path(f.object, song),
              method: :delete, data: { confirm: "Are you sure?" },
              class: 'text-muted pull-right' %>
          </div>
        </div>
      <% end %>
    <% else %>
      <em>No songs</em>
    <% end %>
  </div>
</div>
